body{
    background-image: url(candycrush.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    margin: 0;
}
header,footer{
    display: flex;
    background-color: rgb(255, 166, 0);
    font-family: Tele;
    text-align: center;
    align-items: center;
    padding: 15px 50px;
}
img{
    width: 70px;
    margin-right: 25px;
}
h1,h2,h3{
    margin: 0;
    text-align: center;
}
main{
    margin:50px 20%;
    background-color: rgb(176, 227, 235);
    border-radius: 20px;
    padding: 50px;
    min-height: calc(100vh - 92px - 80px - 100px);
    float: right;
}
article{
    background-color: orange;
    padding: 25px;
    border-radius: 20px;
    margin:20px;
}
iframe{
    width: 100%;
    height: 150vh;
}
p {
    text-align: justify;
}