@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Raleway&display=swap');
body{
    margin-top: 2cm;
    margin-left: 3cm;
    background-color: #f0ffff;
}
.kolom {
    width: 100%;
    background-color: gray;
}
.kiri {
    width: 21%;
    height: 480px;
    float: left;
    margin-bottom: 1cm;
}
.kanan {
    width: 79%;
    height: 790px;
    float: right;
}
.figure1 {
    background-color: 	#f5f5dc;
    height: 500px;
    width: 210px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-style: groove;
}
.figure2 {
    background-color: 	#f5f5dc;
    height: 950px;
    width: 700px;
    border-radius: 10px;
    border-style: groove;
}
h1,h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
h1{
    font-size: 40px;
}
.p1 {
    width: 200px;
    text-align: justify;
    }
.p1,.p2{
    font-family: 'Raleway', sans-serif;
}
.p2,h2 {
    text-align: justify;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
video {
    margin-inline-start: 30px;
}
figcaption{
    font-weight: 800;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}