@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width:80%;
    min-height:40vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container>div{
    display: flex;
    width: 100%;
}
.left,.right{
    width:50%;
    min-height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    border-right:2px solid black;
}
p{
    font-size:24px;
    font-weight: 600;
}
textarea, input{
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 600;
    outline: none;
    background-color: blanchedalmond;
    padding: 10px;
    margin:25px;
    width: 90%;
}
.h1{
    color:black;
    font-family: 'Montserrat', sans-serif;
}
p,h1,h2{
    text-align: center;
}
.problem{
    background-color: white;
    border-radius: 50px 0;
}
.right, .problem{
    padding: 25px;
}
.easteregg{
    position: absolute;
    bottom: -2vw;
    left:50vw;
}